.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;

}

.app-wrapper-content {
    grid-area: content;
    background-color: #d2d2d2;
    border-radius: 10px;
    padding: 10px;
}